@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Orange Bricks</h1>
    <p class="lead">Sell or buy a house in a few simple clicks!</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sell</h2>
        <p>
            Sell your house in a few easy clicks. Add your listing and then simply review offers from buyers and accept or reject them.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Property")">List your property &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy</h2>
        <p>View amazing properties for sale and send your offer directly to the seller. Saving time and money.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Property")">View properties &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rent</h2>
        <p>Coming soon...</p>
    </div>
</div>